<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <meta name="description" content="Your description here" />
    <meta name="keywords" content="keyword1, keyword2, keyword3" />
    {% load static %}
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/webflow.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/transcendence.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/community.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/chatWidget.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" />
    <link href="{% static 'images/webclip.png' %}" rel="apple-touch-icon" />
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script type="module" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="module" src="{% static 'js/notification.js' %}"></script>
    <script>
      function showToast(message) {
      const toast = document.getElementById('toast');
      toast.textContent = message;
      toast.className = 'toast show';
      setTimeout(() => {
        toast.className = toast.className.replace('show', '');
      }, 3000);
    }
    </script>
    {% block extra_head %}

    {% endblock %}
  </head>
  <body class="body">
    {% if show_nav %}
    <div class="navigation w-nav">
      <div class="nav-container">
        <a href="https://profile.intra.42.fr/" class="brand-2 w-nav-brand">{% include 'frontend/svg-42-hn.html' %}</a>
        <nav role="navigation" class="w-nav-menu">
          <span class="nav-item-group">
            <a href="{% url 'stats' %}" class="nav-link w-nav-link">Stats</a>
            <a href="{% url 'home' %}" class="nav-link w-nav-link">Home</a>
            <a href="{% url 'community' %}" class="nav-link w-nav-link">Community</a>
          </span>
        </nav>
        <span class="nav-item-group">
          <div class="dropdown" style="padding-top: 0%; height: 50px">
            <!-- Bell Icon -->
            <button class="btn btn-secondary bg-transparent border-0 position-relative" id="notificationDropdown" aria-expanded="false">
              <img src="/static/images/bell.png" alt="Bell Icon" height="auto" width="60" />
              <span id="notificationIndicator" class="position-absolute top-10 start-80 translate-middle p-2 bg-danger rounded-circle d-none"></span>
            </button>
            <ul class="dropdown-menu" id="dropdownMenu" style="display: none;">
              <li class="dropdown-item">No notifications</li>
            </ul>
          </div>
        </span>
        <span class="nav-item-group">
          <a class="profile-link-wrapper" href="{% url 'profile' %}" aria-expanded="false">
            <div class="profile-link-wrapper">
              <span class="intra-name-42" data-login="{{ user.profile.nickname }}">{{ user.profile.nickname }}</span>
              <img class="user-profile-picture visible-sidebars" src="{{ user.profile.avatarUrl }}" alt="User Profile Picture" height="40" width="40" />
            </div>
          </a>
        </span>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    {% endif %}
    {% block content %}

    {% endblock %}
    {% block extra_js %}
    {% endblock %}
    {% include "frontend/chatWidget.html" %}
    <div id="toast" class="toast"></div>
  </body>
</html>
