<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/webflow.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/transcendence.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
  <link href="{% static 'images/webclip.png' %}" rel="apple-touch-icon">
  {% block extra_head %}{% endblock %}
</head>
<body class="body">
  {% if show_nav %}
  <div class="navigation w-nav">
    <div class="w-container">
      <a href="#" class="brand-2 w-nav-brand">
        {% include "frontend/svg-42-hn.html" %}
      </a>
      <nav role="navigation" class="w-nav-menu">
        <a href="{% url 'home' %}" class="nav-link w-nav-link">Home</a>
        <a href="{% url 'stats' %}" class="nav-link w-nav-link">Stats</a>
        <a href="{% url 'friends' %}" class="nav-link w-nav-link">Friends</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  {% endif %}
  {% block content %}{% endblock %}

  {% block extra_js %}{% endblock %}
</body>
</html>
