{% extends "frontend/base.html" %}
{% load static %}
<link href="{% static 'css/tournament.css' %}" rel="stylesheet" type="text/css" />

{% block title %}Home{% endblock %}

{% block content %}
        {% comment %}{% include "frontend/chatWidget.html" %}{% endcomment %}
<style>

</style>
  <section class="section">
    <div class="leaderboard-wrapper">
      <h3 class="heading">Top Players</h3>
      <ol role="list" class="leaderboard" id="leaderboard-top-3">
        <!-- Top 3 players will be rendered here by leaderboard.js -->
      </ol>
    </div>
    <div class="game-modes-wrapper mt-4 position-relative z-3">
      <h3 class="heading fw-bold text-light">Game Modes</h3>
      <div class="game-modes-container">
        <!-- Game modes will be displayed here -->
        <div class="game-mode-card">
          <h4 class="heading-3">Quick Search</h4>
          <p>Search for a Quick Game. First Person with 10 Points wins!</p>
          <a href="{% url 'game' %}" id="search-game-btn" class="nav-link w-nav-link z-1">Search Game</a>
        </div>
        <div class="game-mode-card">
          <h4 class="heading-tournament">Tournament</h4>
          <p>Experience fast-paced action with unique challenges.</p>
          <a href="#" id="tournament-btn" class="nav-link w-nav-link btn-tournament z-1">Open Tournament</a>
        </div>
        <div class="game-mode-card">
          <h4 class="heading-3">Local 1v1</h4>
          <p>Play a Local game in Split Screen</p>
          <a href="{% url 'game' %}?local=true" id="start-local-game-btn" class="nav-link w-nav-link z-1">Start Game</a>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="grid-overlay"></div>
    </div>
    <div class="backround-m42 z-n1"></div>
    <div data-dynamic-windows>
      {% block dynamic_windows %}{% endblock %}
    </div>
  </section>
{% endblock %}

{% block extra_js %}
    {% load static %}
    <script type="module" src="{% static 'js/leaderboard.js' %}"></script>
    <script>
        const userId = {{ user.id }};
        document.addEventListener('DOMContentLoaded', function() {
            function openTournamentWindow() {
                const dynamicWindows = document.querySelector('[data-dynamic-windows]');
                dynamicWindows.innerHTML = `
                    <!-- Right Side: Tournaments Card -->
                    <div id="pong-container">
                        <button id="close-btn">Close</button>
                        <div class="d-flex card bg-transparent text-light h-100 w-100" style="position: relative; z-index: 20;">
                            <div class="card-header">
                                <!-- Navigation Pills -->
                                <ul class="nav nav-tabs" id="tournamentTabs" role="tablist">
                                    <li class="nav-item">
                                        <button class="nav-link bg-transparent" id="tournaments-tab" data-bs-toggle="tab" data-bs-target="#tournaments-tab-pane" type="button" role="tab" aria-controls="tournaments-tab-pane" aria-selected="false">
                                            Tournaments
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link bg-transparent" id="new-tournament-tab" data-bs-toggle="tab" data-bs-target="#new-tournament-tab-pane" type="button" role="tab" aria-controls="new-tournament-tab-pane" aria-selected="false">
                                            New Tournament
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content card-body" id="tournamentTabContent">
                                <!-- Tournaments Tab Pane -->
                                <div class="tab-pane fade" id="tournaments-tab-pane" role="tabpanel" aria-labelledby="tournaments-tab" tabindex="0">
                                    <br>
                                    <h1>Tournaments</h1>
                                    <ul id="tournament" class="scrollable" style="width:100%; max-height:60vh">
                                        <span> Loading Tournaments ....</span>
                                    </ul>
                                </div>
                                <!-- New Tournament Tab Pane -->
                                <div class="tab-pane fade" id="new-tournament-tab-pane" role="tabpanel" aria-labelledby="new-tournament-tab" tabindex="0">
                                    <div id="createTournamentContainer">
                                        <h2>Create a New Tournament</h2>
                                        <form id="createTournamentForm">
                                            <div>
                                                <label for="tournament-name">Tournament Name:</label>
                                                <input
                                                    class="form-control bg-secondary text-light"
                                                    id="tournament-name"
                                                    type="text"
                                                    placeholder="Enter tournament name"
                                                    required
                                                />
                                            </div>
                                            <div>
                                                <label for="tournament-size">Tournament Size:</label>
                                                <select id="tournament-size" required class="form-control bg-secondary text-light">
                                                    <option value="2">2</option>
                                                    <option value="4">4</option>
                                                    <option value="8">8</option>
                                                    <option value="16">16</option>
                                                </select>
                                            </div>
                                            <div>
                                                <label for="tournament-start-at">Start Time:</label>
                                                <input
                                                    class="form-control bg-secondary text-light"
                                                    id="tournament-start-at"
                                                    type="datetime-local"
                                                    placeholder="Enter start time"
                                                    required
                                                />
                                            </div>
                                            <button type="submit" class="btn btn-primary">Create Tournament</button>
                                        </form>
                                        <div id="tournamentMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                history.pushState(null, null, '#tournament');
            }

            function closeTournamentWindow() {
                const dynamicWindows = document.querySelector('[data-dynamic-windows]');
                dynamicWindows.innerHTML = '';
            }

            document.getElementById('tournament-btn').addEventListener('click', function(event) {
                event.preventDefault();
                openTournamentWindow();
            });

            window.addEventListener('popstate', function() {
                closeTournamentWindow();
            });

            document.addEventListener('click', function(event) {
                if (event.target.id === 'close-btn') {
                    closeTournamentWindow();
                    history.pushState(null, null, '/home/');
                }
            });

            // Check URL hash on page load
            if (window.location.hash === '#tournament') {
                openTournamentWindow();
            }
        });
    </script>
{% endblock %}
