{% extends "frontend/base.html" %}
{% load static %}
{% block title %}
    Friends
{% endblock title %}
{% block content %}
    <div class="leaderboard-container">
        <section class="section leaderboard">
            <br>
            <div class="container rounded">
                <h1>Leaderboard</h1>
                <ul id="Leaderboard" class="scrollable leaderboard">
                    <span>Loading Leaderboard ....</span>
                </ul>
            </div>
        </section>
    </div>
{% endblock content %}
{% block extra_js %}
    <script>const userId = {{ user.id }};</script>
    <script type="module" src="{% static 'js/leaderboard.js' %}"></script>
{% endblock extra_js %}
