{% extends "frontend/base.html" %}

{% block title %}Manage Profile{% endblock %}

{% block content %}
  <section class="section-3">
    <div class="w-layout-blockcontainer container-2 w-container">
      <h1 class="heading-2">Manage Your Profile</h1>
      <div class="form-block w-form">
        <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form" data-wf-page-id="67705c19a75cfc55a1d22afd" data-wf-element-id="64f0644a-ca63-ee35-bb3f-28862db773cb">
          <div class="w-embed">

            <input class="file-input" type="file" id="myFile" name="filename">
            <label for="myFile"></label> <!--  Link the label with the input using the 'for' attribute  -->
          </div>
          <div class="text-input-wrapper">
            <label for="Bio">Bio</label>
            <textarea placeholder="[Your Name] is a passionate developer and retro gaming enthusiast, specializing in creating classic games with a modern twist. Inspired by the simplicity and fun of old-school arcade games," maxlength="5000" id="Bio" name="Bio" data-name="Bio" class="form-text-input-transparent w-input"></textarea>
          </div>
          <div class="text-input-wrapper">
            <label for="Nickname">Nickname</label>
            <input class="form-text-input-transparent w-input" maxlength="256" name="Nickname" data-name="Nickname" placeholder="eg. nscheefe" type="text" id="Nickname" required="">
          </div>
          <input type="submit" data-wait="Please wait..." class="submit-button w-button" value="Submit">
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
