{% extends "frontend/home.html" %}
{% load static %}
{% block title %}
  Pong
{% endblock title %}
{% block dynamic_windows %}
  <div id="pong-container">
    <button id="close-btn">Close</button>
    <div id="waiting-message">
      <div id="game-info">
        <h2>Waiting for Game ID: {{ game.id }}</h2>
      </div>
      <p>Waiting for Player B</p>
      <div class="spinner"></div>
    </div>
    <div id="game-overview">
      <h1 id="game-overview-title">Game Over</h1>
      <p id="game-overview-result"></p>
    </div>
  </div>
{% endblock dynamic_windows %}
{% block extra_js %}
  <script>
  const referrer ="{{ referrer|default:'#' }}";
  document.addEventListener('DOMContentLoaded', function() {
    // Add event listener for the close button after content is injected

    // Function to load scripts sequentially
    function loadScripts(scripts, callback) {
      if (scripts.length === 0) {
        callback();
        return;
      }
      const script = document.createElement('script');
      script.src = scripts.shift();
      script.onload = () => loadScripts(scripts, callback);
      document.head.appendChild(script);
    }

    // List of scripts to load
    const scripts = [
      "https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js",
      "https://unpkg.com/three@0.128.0/examples/js/shaders/CopyShader.js",
      "https://unpkg.com/three@0.128.0/examples/js/postprocessing/EffectComposer.js",
      "https://unpkg.com/three@0.128.0/examples/js/postprocessing/RenderPass.js",
      "https://unpkg.com/three@0.128.0/examples/js/postprocessing/ShaderPass.js",
      "https://unpkg.com/three@0.128.0/examples/js/shaders/RGBShiftShader.js",
      "https://unpkg.com/three@0.128.0/examples/js/shaders/GammaCorrectionShader.js"
    ];

    // Load scripts and initialize the game
    loadScripts(scripts, () => {
      console.log("All scripts loaded");
      const isLocalGame = {{ is_local_game|yesno:"true,false" }};
      const gameID = {{ game_id|default:"null" }};
      if (typeof window.initPongGame === 'function') {
        window.initPongGame(isLocalGame, gameID);
      } else {
        console.error("initPongGame is not defined");
      }
    });
  });
  </script>
  <script type="module" src="{% static 'js/pong.js' %}"></script>
{% endblock extra_js %}
