{% extends "frontend/base.html" %}

{% block title %}Tournament{% endblock %}

{% block content %}
<section id="tournamentSection" class="section tournamentSection">
    <!-- Tournament Heading -->
    <div class="container text-light">
        <div class="text-center py-4">
            <h1 id="tournamentName">Tournament Name</h1>
        </div>

        <!-- Tournament Details -->
        <div class="card bg-dark text-light mb-4 shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h5>Start Date & Time</h5>
                        <p id="tournamentDate">Start Date</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h5>Players</h5>
                        <p id="playerCount">Players Count</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h5>Status</h5>
                        <p id="tournamentStatus">Status</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Current Matches Section -->
        <div class="card bg-dark text-light mb-4 shadow">
            <div class="card-body">
                <h4>Current Matches</h4>
                <div id="currentMatches" class="list-group mt-3" style="flex-direction: column-reverse;"></div>
                <div id="stateButtonContainer"></div>
            </div>
        </div>

        <!-- Previous Matches Section -->
        <div class="card bg-dark text-light shadow">
            <div class="card-body">
                <h4>Brackets</h4>
                <div id="previousMatchesMap" class="mind-map">
                    <svg id="mindMapConnections"
                        class="connections"
                        xmlns="http://www.w3.org/2000/svg">
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
        {% load static %}
<script type="module" src="/static/js/tournamentDetails.js"></script>
    <script>
        const userId = {{ user.id }};
    const tournamentId = {{tournament}};
    </script>

{% endblock %}
