{% extends "frontend/base.html" %}

{% block title %}Friends{% endblock %}

{% block content %}
    <style>
/* General styling for the tournament bracket */
.bracket .round {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.round .player {
    position: relative;
    width: 100px;
    margin: 0 20px;
    text-align: center;
}

/* Lines connecting matches */
.round .player::before,
.round .player::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    background-color: #fff;
}

.round .player::before {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.round .player::after {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px; /* Adjust for longer lines between connected nodes */
    border-left: 2px solid #fff;
}
    </style>
    {% include "frontend/chatWidget.html" %}
    <section id="tournamentSection" class="section tournamentSection">
    <br>
        <div class="container rounded" style="background-color:#181818; width: 80%;">
            <div>
                <h1>Tournaments</h1>
                <div id="newTournament">

                </div>
                   <button id="back-to-tournaments-btn" class="back-btn" style="margin-top: 20px;">Back to Tournaments</button>
            </div>
            <ul id="tournament" class="scrollable" style="width:100%">
                <span> Loading Tournamnets ....</span>
            </ul>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
    const userId = {{ user.id }};
    </script>
    {% load static %}
        <script type="module" src="{% static 'js/tournament.js' %}"></script>

{% endblock extra_js %}