# OS
.DS_Store

# IDE
.idea
.vscode

# DB
app/DB/*

# Python
app/django_service/venv
venv/
**/__pycache__/

# Node
node_modules/

# Secrets
.env

app/django_service/main_service/main_service/staticfiles/
